* {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    font: Tahoma;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    background: #333 url(/game_minesweeper/background.jpg) no-repeat 50% 50%;
  }
  
  h1 {
    color: #c90d0d;
  }
  
  .field {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    height: 60px;
    width: 60px;
    font-size: 35px;
    color: indigo;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #f0f0f0;
  }
  
  button.flag {
    background-color: yellow;
  }
  
  .rating {
    font-size: 24px;
    color: white;
    margin-top: 20px;
  }
  
  #restart-button {
    width: 200px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
  }

  button.bomb-hit {
    background-color: red;
  }
  