* {margin: 0; padding: 0;}

html, body {
    width: 100%;
    height: 100%;
}

.game {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #c90d0d;
    background-image: url(/game_2048/kyiv.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

    .game .header {
        height: 10vmin;
        width: 80vmin;
        font-size: 7vmin;
        box-sizing: border-box;
        color: black;
    }

    .game .field {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 80vmin;
        width: 80vmin;
}
        .game .field .cell {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 18vmin;
            width: 18vmin;
            margin: 1vmin;
            box-sizing: border-box;
            border: 5px solid green;
            border-radius: 2vmin;
            font-size: 10vmin;
            background-color: burlywood;
        }