* {
    box-sizing: border-box;
}
body {
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    background: url(nature.jpeg) no-repeat 50% 50% !important;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 930px;
}
h1 {
    color: #241aab;
    margin-top: 20px;
}
canvas {
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    border: 7px solid #ca3b7a;
}

.menu {
    position: relative;
    background: #000;
    margin-top: 0;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu a {
    text-decoration: none;
    color: #546E7A;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 20px 40px;
    font-size: 18px;
    transition: .3s;
}
.menu a:hover {
    color: #fff;
}

.menu a.active {
    color: #fff;
}

.indicator {
    height: 5px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 3px 3px 0 0;
    transition: 0.5s;
}

.game_name {
    background: #aaea76;
    width: 200px;
    height: 90px;
    margin: 20px auto 0 auto;
    display: flex;           
    justify-content: center; 
    align-items: center;    
    text-align: center;
    border-radius: 20px;
    border: 4px solid #55753b;

}

.restart-button {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 30px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #FBF309;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #214C9C;
    width: 300px;
    height: 60px;
}

.restart-button:hover {
    background-color: #FAC401;
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
    color: #214C9C;
}

.restart-button:active {
    background-color: #003d82;
    transform: translateY(0);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}

#game-over-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}
